Flask
Flask-CORS
numpy
scipy
scikit-learn
requests
python-dotenv
Werkzeug
Jinja2
MarkupSafe
six
gunicorn
websocket-client
PyYAML
protobuf
python-json-logger
google-genai

# ML/AI dependencies
tensorflow
pandas
matplotlib
torch
torchvision
scikit-image
xgboost
lightgbm
gymnasium
stable-baselines3
opencv-python
seaborn
tqdm
shapely
joblib
